/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 16px;
}
/* line 8, ../sass/_main.scss */
div.main_content div.form_row {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 13, ../sass/_main.scss */
div.main_content div.post_div {
  margin: 4px;
  border: 1px black solid;
  background-color: #eeeeee;
  padding: 4px;
}
/* line 18, ../sass/_main.scss */
div.main_content div.post_div .post_title {
  font-size: 120%;
}
/* line 22, ../sass/_main.scss */
div.main_content i.changed {
  color: #777777;
}
/* line 25, ../sass/_main.scss */
div.main_content span.likers_list {
  color: #7777cc;
}

div.main_content span.likers_list {
  color: #7777cc;
}

header.black.padded {
    background-color: #f1f1f1;
}
header a{
    color:black;
}
.house_id {
    font-family: fantasy;
    font-size: 200%;
    text-align: center;
}
.chore_div{
    
    
}
.all_chore{
    
    padding: 4%;
    background-image: url(notepad.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 70%;
    margin-left: -3%;
    height:100%;
    width: 60%  ;
    overflow: hidden;
}
.add{
    margin-bottom: 2%;
    margin-top: -12%;
    margin-left: 8%;
    width: 10%;

}
.chore{
    padding-left:2%;
    padding-top:2%;
    font-size: 2.5vw;
    font-family: monospace;
    border-bottom: 1px solid gray;
}
.chore_title{
    background-repeat: no-repeat;
    margin-top: 13%;
    height:6vw;
    width: 45vw;
    margin-left: 23%;
    background-size: contain;
    background-image: url(Chore_title.jpg);
    
}
.add_chore{
    
    margin-top: 0%;
    margin-left: 2%;
    height: 25.5vw;
    overflow-y: scroll;
    width: 93%;
 
}
.house{
    background-image: url(house.png);
    background-size: contain;
}
.add_member_button{
    
    margin-top: 5%;
    float:right;
}
.members_list{
    margin-top: 10%;
    float:right;
    margin-right:-10%;
}
.submit{
    font-size: 5%;
    margin-left:30%;
    margin-top: -2%;
}
.cform{

height:2vw;
width:37vw;
margin-top:1%;
margin-left:6%;    
}

.btn{
    background-color: darkslategrey;
}
.edit{
    margin-right:3%;
    float:right;
}
.members_list{
    float:right;
}